__pycache__/
*.py[cod]
*$py.class
test/bowtie2
test/pasilla
test/.snakemake
test/multiqc*
*/.snakemake
.snakemake
lcdb-workflows-submit-*.sh
slurm-*out
test/.Rsubread*
/workflows/qc/fastq_screen_config.txt
docs/build
docs/source/images/*_dag.png
/docs/source/config.yaml
/workflows/mapping/fastq_screen_config.txt
/workflows/mapping/Snakefile.log
.DS_Store
